<link href="/assets/dashboard/css/new_location.css" rel="stylesheet">
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <h4>Add new Flight plan</h2>
    <hr>
    <!-- Icon Cards-->
    <div class="row margin-left-10">
      <div id="location-form">
        Name:<br>
        <input id="form-name" type="text" name="firstname"><br>
        Flight Plan Type:<br>
        <input id="form-flight-plan-type" type="text" name="lastname"><br>
        Status:<br>
        <input id="form-status" type="text" name="lastname"><br>
        Destination:<br>
        <select id="form-destination-id">
        </select><br>
        Start Location:<br>
        <select id="form-location-id">
        </select><br>
        <button id="form-save">Save</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-sm-6 mb-3" id="select-map-location">
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Your Website 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
</div>
<script defer src="/assets/dashboard/new_flight_plan.js"></script>