<body>
<hr/>
<h3>Select the type of Gift card </h3>
<hr color="lightgrey"/>
<div class="row">
 <div class="column" style="background-color:white;">
 <form>
  <input type="radio" name="studentType" value="u">Physical Card<br />
  <br />
  A Voucher works just like a physical gift card. It is redeemable in-store. You can print it at home and take it into the store, or show it on your mobile phone.
 </form>
</div>

<div class="column" style="background-color:white;">
<form>
  <input type="radio" name="studentType" value="u">Digital Card<br />
  <br />
 Any digital gift cards can be used online, at home, at work or from a smartphone, rather than requiring the user to trek to a brick-and-mortar store."
 </form>
</div></div>
<br />
<hr />

<h3>Personalize Your Gift Card</h3>
<hr color="lightgrey"/>
Gift Card Value <input type="text" name="username" id="rcorners2" align="right">  e.g.100
<hr color="lightgrey"/>


 <div class="column1" style="background-color:white;">
 <form>
Name    <input type="text" name="username" id="rcorners2" align="right"> <br /> <br />
To Email <input type="text" name="username" id="rcorners2" align="right"> <br /> <br />
Postal Address <br />
<textarea name="comment" rows="5" cols="30">
 </textarea>
 <br /> <br />
Custom greeting <br />
<textarea name="comment" rows="5" cols="30">
 </textarea>

 </form>
</div>

<h3>Payment</h3>
<div class="row">
<div class="column1" style="background-color:white;">
<form>
Card Type <br />
<select name="type">
 <option value="mon">Visa</option>
 <option value="tue">Mastercard</option>
 <option value="tue">Student</option>
 </select>
 <br />
 <br />
Card Number <br />
<input type="text" name="username" id="rcorners2" align="right"> <br /> <br />
 </form>
 Valid to <br/>
 <select name="date">
 <option value="mon">01</option>
 <option value="tue">02</option>
 <option value="tue">03</option>
 <option value="tue">04</option>
 <option value="tue">05</option>
 <option value="tue">06</option>
 <option value="tue">07</option>
 </select> \
  <select name="date">
 <option value="mon">2012</option>
 <option value="tue">2013</option>
 <option value="tue">2014</option>
 <option value="tue">2015</option>
 <option value="tue">2016</option>
 <option value="tue">2017</option>
 <option value="tue">2018</option>
 </select> <br />
 mm\yy <br /> <br />
 Name on card <br />
 <input type="text" name="username" id="rcorners2" align="right"> <br /> <br />
 CVV2 Number <br />
 <input type="text" name="username" id="rcorners2" align="right"> <br /> <br />
 <input type="submit" value="Buy Now">
</div></div>
 <hr color="lightgrey"/>
<hr/>
©Student Name Here
</body>
