<!DOCTYPE html>
<html lang="en">
<head>
<title>Halogen Labs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#products" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Products</a>
     <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Services <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#web_development" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Web Development</a>
        <a href="#mobile_development" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Mobile apps Development</a>
        <a href="#seo" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SEO</a>
      </div>
    </div>
    <a href="#aboutus" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About Us</a>
    <a href="#yilli_lessons" class="w3-bar-item w3-button w3-padding-large">Media</a>
    <!-- <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Media <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#yilli_lessons" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Yilli Lessons</a>
        <a href="#dating_meetings" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Dating Meetings</a>
        <a href="#search_party_conference" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Search Party Conference</a>
      </div>
    </div> -->
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large">Contact</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  
  <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Yilli Lessons</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Dating Meetings</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Search Party Conference</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="/w3images/la.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Product Development</h3>
      <p><b>We had the best time playing at Venice Beach!</b></p>   
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="/w3images/ny.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Consultation</h3>
      <p><b>The atmosphere in New York is lorem ipsum.</b></p>    
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="/w3images/chicago.jpg" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Entertainment</h3>
      <p><b>Thank you, Chicago - A night we won't forget.</b></p>    
    </div>
  </div>

  <!-- Company Section -->
  <div class="w3-container w3-content w3-center w3-padding-64 w3-light-grey" id="band">
    <h2 class="w3-wide">Halogen Labs Plc.</h2>
    <p class="w3-opacity"><i>We love music, work and entertainment(we are chartered)</i></p>
    <p class="w3-justify">We are group of individuals from domains like educators, engineers, musican from multi-linguistic domain arriving together on this platform to servce industry through both products and servicess. We have products ranging from Dating App, Music Sharing App(B2B), Language Learning App and Data Administration to start with initially. We also provide consultation for App Development, Web Development, Security Audit, Network Analysis through both cloud and In-House Installations.</p>
  </div>

  <!-- About Us -->

   <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="aboutus">
    <h2 class="w3-wide">About Us</h2>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Ajay Sharma, CEO</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="name" style="width:60%">
        <ul>
          <a href="/googleapis.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </ul>
      </div>
      <div class="w3-third">
        <p>Brain Fungai Gondo, CPO</p>
        <img src="/w3images/bandmember.jpg" class="w3-round w3-margin-bottom" alt="name" style="width:60%">
        <ul>
          <a href="/googleapis.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </ul>
      </div>
      <div class="w3-third">
        <p>Kantush Saniago, CTO</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="name" style="width:60%">
        <ul>
          <a href="/googleapis.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </ul>
      </div>
      <div class="w3-third">
        <p>The foodie, Tech Lead</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="name" style="width:60%">
        <ul>
          <a href="/googleapis.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </ul>
      </div>
      <div class="w3-third">
        <p>The Wizard, Scrum Master</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="name" style="width:60%">
        <ul>
          <a href="/googleapis.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
          <a href="/googleapis.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </ul>
      </div>
      <!-- <div class="w3-third">
        <p>Nomsee Ching, Customer Relation Officer</p>
        <img src="/w3images/bandmember.jpg" class="w3-round" alt="name" style="width:60%">
      </div> -->
    </div>
  </div>

  <!-- Investors Section -->

  <div class="w3-light-grey" id="investors">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Investor</h2>
      <p class="w3-opacity w3-center"><i>Series A Round</i></p><br>

      <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Donald Duck</p>
        <img src="/assets/images/our-investor/x.jpg" class="w3-round w3-margin-bottom" alt="name" style="width:60%">s
      </div>
      <div class="w3-third">
        <p>Victoria Bitter</p>
        <img src="/assets/images/our-investor/x.jpg" class="w3-round w3-margin-bottom" alt="name" style="width:60%">s
      </div>
    </div>
  </div>

  <!-- Products Section -->

  <div class="w3-black" id="products">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Products</h2>
      <p class="w3-opacity w3-center"><i>Invitation based installations only</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey">
        <li class="w3-padding">Yilli<span class="w3-tag w3-red w3-margin-left">40 Signup</span><button class="w3-button w3-black w3-margin-right w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'"></button></li>
        <li class="w3-padding">Dater<span class="w3-tag w3-red w3-margin-left">600 Downloads</span></li>
        <li class="w3-padding">Search Party<span class="w3-badge w3-right w3-margin-right">10 Installed</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <ul style="">
          <li> <img src="/assets/logos/logo_with_name.png" style="width:100%"></li>
          <li> <img src="/assets/logos/logo_with_name.png" style="width:100%"></li>
          <li> <img src="/assets/logos/logo_with_name.png" style="width:100%"></li>
        </ul>
      </div>
    </div>
  </div>

  <!--Web Development Section-->

  <div class="w3-white" id="web_development">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Web Development</h2>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>React Js Development</b></p>
            <p>We publish our newsletter every week based on content provided by our tutors. We publish our newsletter every week based on content provided by our tutors.We publish our newsletter every week based on content provided by our tutors</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Jquery Development</b></p>
            <p>User can find our newsletter uploaded to Instagram, Facebook.User can find our newsletter uploaded to Instagram, Facebook.User can find our newsletter uploaded to Instagram, Facebook</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Ruby on Rails, Django</b></p>
            <p>This is live QA conference, please follow our linkedin page for more updates. This is live QA conference, please follow our linkedin page for more updates. This is live QA conference, please follow our linkedin page for more updates</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Mobile Section-->

  <div class="w3-black" id="mobile_development">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Mobile Development</h2>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Android Development</b></p>
            <p>We publish our newsletter every week based on content provided by our tutors.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>IOS development</b></p>
            <p>User can find our newsletter uploaded to Instagram, Facebook</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Hybrid Apps Development</b></p>
            <p>This is live QA conference, please follow our linkedin page for more updates</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--SEO Section-->

  <div class="w3-white" id="seo">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Search Engine Optimization</h2>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Schema.org Implementation</b></p>
            <p>We publish our newsletter every week based on content provided by our tutors.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>GTM Algorithm | Dashboard</b></p>
            <p>User can find our newsletter uploaded to Instagram, Facebook</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>UI/UX implementation</b></p>
            <p>This is live QA conference, please follow our linkedin page for more updates</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Media Section-->

  <div class="w3-light-grey" id="yilli_lessons">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Media, Conferences Schedule</h2>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Conferences</b></p>
            <p>We do conferences both online and offline with interactive Q/A along with our local team reaching the spot first.</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('subscribeModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Publish</b></p>
            <p>User can find our newsletter uploaded to Instagram, Facebook</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('subscribeModal').style.display='block'">Subscribe</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <div class="w3-container w3-white">
            <p><b>Buy Plans for Media</b></p>
            <p>This is live QA conference, please follow our linkedin page for more updates</p>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('subscribeModal').style.display='block'">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Pricing</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> $15 per person</label></p>
        <input class="w3-input w3-border" type="text" placeholder="How many?">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" onclick="payment()">PAY <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- Subscribe Modal -->
  <div id="subscribeModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal w3-center w3-padding-32"> 
        <span onclick="document.getElementById('subscribeModal').style.display='none'" 
       class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Subscribe</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-envelope"></i> Email</label></p>
        <input class="w3-input w3-border" type="text" placeholder="email">
        <p><label><i class="fa fa-user"></i> Send To</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Enter email">
        <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right" onclick="subscribe()">Register <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('subscribeModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
        <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Moga, India<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +91 7678065423<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: ajay.sharma22111991@gmail.com<br>
      </div>
      <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Johanesburg, Republic of South Africa<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +27 78 516 1981<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Nairobi, Kenya<br>
        <i class="fa fa-phone" style="width:30px"></i> Phone: +254 716 843251<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
      </div>
      <div class="w3-col m6 w3-blue">
        <form action="/action_page.php" target="_blank">
          <p>Interested to learn more? Request a no obligation demo. It’s on us. :)</p>
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">Request Demo</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Svg for Map -->

<div id="map"></div>

<!-- Follow me on Twitter -->
<a class="twitter" target="_top" href="https://twitter.com/ajays871"><svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" viewBox="0 0 72 72"><path d="M67.812 16.141a26.246 26.246 0 0 1-7.519 2.06 13.134 13.134 0 0 0 5.756-7.244 26.127 26.127 0 0 1-8.313 3.176A13.075 13.075 0 0 0 48.182 10c-7.229 0-13.092 5.861-13.092 13.093 0 1.026.118 2.021.338 2.981-10.885-.548-20.528-5.757-26.987-13.679a13.048 13.048 0 0 0-1.771 6.581c0 4.542 2.312 8.551 5.824 10.898a13.048 13.048 0 0 1-5.93-1.638c-.002.055-.002.11-.002.162 0 6.345 4.513 11.638 10.504 12.84a13.177 13.177 0 0 1-3.449.457c-.846 0-1.667-.078-2.465-.231 1.667 5.2 6.499 8.986 12.23 9.09a26.276 26.276 0 0 1-16.26 5.606A26.21 26.21 0 0 1 4 55.976a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.251-19.949 37.251-37.249 0-.566-.014-1.134-.039-1.694a26.597 26.597 0 0 0 6.533-6.774z"></path></svg></a>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="/googleapis.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="/googleapis.com"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="/googleapis.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="/googleapis.com"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Halogen Labs, copyright</a></p>
</footer>

<div class="footer-bottom">
  <div class="social"><a href="https://twitter.com/blocksys_io" target="_blank" title="Halogen Labs on Twitter" class="twitter-icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="footer-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
      </svg>
      </a><a href="https://www.linkedin.com/company/gridle-in" target="_blank" title="Halogen Labs on linkedin" class="linkedin-icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="footer-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
      </svg>
      </a><a href="https://www.facebook.com/gridle.in" target="_blank" title="Halogen Labs on Facebook" class="facebook-icon">
      <svg xmlns="http://www.w3.org/2000/svg" class="footer-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
      </svg>
      </a></div>
  <!-- <div class="apps"><a href="https://play.google.com/store/apps/details?id=io.gridle.webview" target="blank" title="Get Gridle app on Google play store"><a href="/googleapis.com"><img src="/assets/homepage/get-it-google-play.png" alt="Griddle android app"></a><a href="javascript:;" target="blank" title="Get Gridle app on Apple store"><img src="/assets/homepage/get-it-ios-app.png" alt="Griddle i-phone app"></a></div> -->
</div>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// Marker for office location
var locations = [
      ['Moga, India', 30.832122, 75.1673576, 4],
      ['Johanesburg, South Africa', -26.214184,27.6347051, 5],
      ['Nairobi, Kenya', -1.3024715,36.7103727, 3]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

</script>

</body>
</html>
