<body data-target="#nino-navbar" data-spy="scroll">
	<section id="jobs">
		<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
		<h2 style="color: #a22222;">Registered Address</h2>
		<p>H.No 10, 11-A, Uttari suraj nagar, Zira road, Moga(142001), Punjab, India.&nbsp;</p>
		<p><span style="color: #999;">Phone</span> : +91 7678065423</p>
		<p><span style="color: #999;">Email: ajays871@gmail.com</span></p>
		
	</section>
</body>