<body data-target="#nino-navbar" data-spy="scroll">    
    <!-- What We Do
    ================================================== -->
    <section id="product">
    	<div class="container">
    		<h2 class="nino-sectionHeading">
				<span class="nino-subHeading">Products</span>
			</h2>
			<!-- <p class="nino-sectionDesc">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
			</p> -->
			<div class="sectionContent">
				<div class="row">
					<div class="col-md-6">
						<div class="text-center">
							<img src="/assets/our-team/drone.jpg" alt="">
						</div>
					</div>
					<div class="col-md-6">
								<div class="nino-heading" role="tab" id="headingOne">
									<h4 class="panel-title">													
											<a href="/dgital-drone-controllers"><span class="product-heading">Manualy controlled and Auto-control digital interface for IOT solutions</span></a>
										</a>
									</h4>
								</div>
								<p>&nbsp;</p>								
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div>
										<ul class="product-listing">
											<li>we offer products and solutions for IOT based business process. We serve business vertical across macro, micro and small scale industries and enterprises. <a href="/coming"><span class="link">learn more</span></a></li>
											<p>&nbsp;</p>
											<li>We provide civil/city engineering/planning, survellience, recreational IOT solutions, demographics inspections, agriculture for better yield and result based solutions with edge cutting digital IOT solutions. <a href="/coming"><span class="link">learn more</span></a></li>
											<p>&nbsp;</p>
											<li> Our first prototyped product name 'Zayak' is digitally controlled quadcopter drone to explore business vertical leaning towards IOT based smart solutions.<span class="link">learn more</span></li>
											<li> <a href="/uav-applications">. <a href="/coming"><span class="link">learn more</span></a></li>
										</ul>
									</div>
								</div>						
					</div>
				</div>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>								
				<div class="row">
					<div class="col-md-6">
						<div class="text-center">
							<img src="/assets/our-team/4.jpg" alt="">
						</div>
					</div>
					<div class="col-md-6">						
								<div class="nino-heading" role="tab" id="headingOne">
									<h4 class="panel-title">										
											<a href='/smart-home'><span class="product-heading">Smart Home Applicances</span></a>											
										</a>
									</h4>
								</div>
								<p>&nbsp;</p>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div>
										<ul class="product-listing">
											<li>
												We provide smart home solutions for individual households, socities. Our modern digital solutions helps connecting all appliances with smart, efficient single point of access interface. <a href="/coming"><span class="link">learn more</span></a>												
											</li>
											<p>&nbsp;</p>				
											<li>
												Our smart home solutions provides a digitally controlled house office and works more like a assistant to house. <a href="/coming"><span class="link">learn more</span></a>												
											</li>
											<p>&nbsp;</p>
											<li>
												Digital switch boards for multiple switches control. From controlling, setting alarms, energy efficiency measurement for AC and refrigerator. <a href="/coming"><span class="link">learn more</span></a>												
											</li>
											<li>
												Handle security and utility bills for home along with maintaing survellience on exit and entry points as a shield guard. <a href="/coming"><span class="link">learn more</span></a>												
											</li>
										</ul>
									</div>
								</div>						
					</div>
				</div>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>								
				<div class="row">
					<div class="col-md-6">
						<div class="text-center">
							<img src="/assets/our-team/vehicle2.png" alt="" alt="">
						</div>
					</div>
					<div class="col-md-6">				
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">										
											<a href="transportation-software-hardware"><span class="product-heading">Transportation software and hardware</span>
										</a>
									</h4>
								</div>
								<p>&nbsp;</p>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div>
										<ul class="product-listing">
											<li>
												We help small and medium scale industries setting up macro-supplychain arm to efficiently run and scale on field business operations. <a href="/coming"><span class="link">learn more</span></a>
											</li>
											<p>&nbsp;</p>
											<p>&nbsp;</p>			
											<li>
												We provide third party collabrations with a trustworthy relation with digital hardware based solution. <a href="/coming"><span class="link">learn more</span></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
				</div>
			</div>
    	</div>
    </section>

	<section id="team">
		<div class="container">
			<h2 class="nino-sectionHeading">
				<span class="nino-subHeading">Who we are</span>
				Meet our team
			</h2>
			<p class="nino-sectionDesc">
				Our team is highly experienced in product and services business with industry ground experience ranging from construction, BFSI, structural engineering, Ariticial intelligence and Media. Thier believe in innovation based prototyping for commercial businees and promote government push on Make in india.
			</p>
			<div class="sectionContent team-row">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="item">
							<div class="overlay" href="#">
								<div class="content">																	
								</div>
								<img class="team-img" src="/assets/our-team/prannay.jpg" alt="">
							</div>
						</div>
						<div class="info">
							<h4 class="name">Prannay Kapur</h4>
							<span class="regency">Co-Founder, Chief Executive Officer</span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="item">
							<div class="overlay" href="#">
								<div class="content">																	
								</div>
								<img class="team-img" src="/assets/our-team/ajay.jpg" alt="">
							</div>
						</div>
						<div class="info">
							<h4 class="name">Ajay Sharma</h4>
							<span class="regency">Founder, Product Owner and Chief Innovation Officer</span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="item">
							<div class="overlay" href="#">
								<div class="content">
									<!-- <a href="#" class="nino-icon"><i class="mdi mdi-facebook"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-twitter"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-pinterest"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-instagram"></i></a> -->
								</div>
								<img class="team-img" src="/assets/our-team/unknown.jpg" alt="">
							</div>
						</div>
						<div class="info">
							<h4 class="name">MOJO JOJO</h4>
							<span class="regency">Technology Leader</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="item">
							<div class="overlay" href="#">
								<div class="content">
									<!-- <a href="#" class="nino-icon"><i class="mdi mdi-facebook"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-twitter"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-pinterest"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-instagram"></i></a> -->
								</div>
								<img class="team-img" src="/assets/our-team/electronics.jpeg" alt="">
							</div>
						</div>
						<div class="info">
							<h4 class="name">Electronics Wizard</h4>
							<span class="regency">walker talker engineer</span>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="item">
							<div class="overlay" href="#">
								<div class="content">
									<!-- <a href="#" class="nino-icon"><i class="mdi mdi-facebook"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-twitter"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-pinterest"></i></a>
									<a href="#" class="nino-icon"><i class="mdi mdi-instagram"></i></a> -->
								</div>
								<img class="team-img" src="/assets/our-team/developer.jpg" alt="">
							</div>
						</div>
						<div class="info">
							<h4 class="name">Front fighter</h4>
							<span class="regency">windows and brower engineer</span>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</section>

	<section>
    	<div class="container">
    		<h2 class="nino-sectionHeading">
				<span class="nino-subHeading">Product collabrators</span>
			</h2>
			<div class="sectionContent">			
				<div class="fw" layout="row">
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<!-- <i class="mdi mdi-apple-keyboard-command nino-icon fsr"></i> -->
							<div>
								<h4 class="nino-serviceTitle">Mera bank tera bank</h4>
								<p>We work with top banks for consulting assets liablities</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<!-- <i class="mdi mdi-blender nino-icon fsr"></i> -->
							<div>
								<h4 class="nino-serviceTitle">Dynamo-Robosoft</h4>
								<p>Our global strategic partner across all our properity rights outside india and mainland china.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<!-- <i class="mdi mdi-bookmark-plus-outline nino-icon fsr"></i> -->
							<div>
								<h4 class="nino-serviceTitle">Mapple</h4>
								<p>User experience data is powered by Mapple Inc.</p>
							</div>

						</div>
					</div>
					<!-- <div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-buffer nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">seo</h4>
								<p>Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-desktop-mac nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">Css/Html</h4>
								<p>HyperText Markup Language, commonly abbreviated as HTML, is the standard markup language used to create web pages. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 item ">
						<div layout="row">
							<i class="mdi mdi-diamond nino-icon fsr"></i>
							<div>
								<h4 class="nino-serviceTitle">digital</h4>
								<p>With digital signals, system noise, provided it is not too great, will not change the quantification whereas with signals handled using analog processing.</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
    	</div>
    </section>
</body>