<body data-target="#nino-navbar" data-spy="scroll">
	<section id="jobs">
		<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
		<h2 style="color: #a22222;">Chief Technology Officer: Job code 003</h2>
		<p>We are looking for experienced technology guy carrying wide spectrum of technology skills in both hardware and software domain.&nbsp;</p>
		<p><span style="color: #999;">Compensation</span> : Rs 0</p>
		<p><span style="color: #999;">Equity</span> : 15 %</p>
		<p><span style="color: #999;">Job Type: Full-Time/Remote</span></p>
		<p><span style="color: #999;">Location: Moga(142001), Punjab</span></p>
		<h2 style="color: #999; font-size: 15px; margin-left: 25px;">Job description:</h2>
		<ul>
			<li>Should have worked/working knowledge of processor based integrated circuits</li>
			<li>You will be part of team building modern age digitally controlled IC based solutions</li>
			<li>xperience or working knowledge of Raspberry or Adruino IC processors will be a plus</li>	
		</ul>
		<p>&nbsp;</p>
		<p>Interested candidates can email their profile/portfolio to <a href="mailto:ajays871@gmail.com?Subject=JobID%20212" target="_top">ajays871@gmail.com</a> with Job code 212 in subject</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h2 style="color: #a22222;">Electronics Engineer/Intern: Job code 212</h2>
		<p>We are looking for electronics engineer/intern with hand-on experience with GIOP based controller boards, DC motor controllers, Integrated circuit designs.&nbsp;</p>
		<p><span style="color: #999;">Compensation</span> : Rs 5000</p>
		<p><span style="color: #999;">Job Type: Part time</span></p>
		<p><span style="color: #999;">Location: Moga(142001), Punjab</span></p>
		<h2 style="color: #999; font-size: 15px; margin-left: 25px;">Job description:</h2>
		<ul>
			<li>Should have worked/working knowledge of processor based integrated circuits</li>
			<li>You will be part of team building modern age digitally controlled IC based solutions</li>
			<li>Hands on experience or working knowledge of Raspberry or Adruino IC processors will be a plus</li>
			<li>After 3 months of your work evaluation, you will be eligible for ESOPS</li>
		</ul>
		<p>&nbsp;</p>
		<p>Interested candidates can email their profile/portfolio to <a href="mailto:ajays871@gmail.com?Subject=JobID%20212" target="_top">ajays871@gmail.com</a> with Job code 212 in subject</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<h2 style="color: #a22222;">Windows desktop application Developer/Intern: Job code 313</h2>
		<p>We are looking for windows desktop application developer to develop our hardware controller interfaces.&nbsp;</p>
		<p><span style="color: #999;">Compensation</span> : Rs 5000</p>
		<p><span style="color: #999;">Job Type: Full time</span></p>
		<h2 style="color: #999; font-size: 15px; margin-left: 25px;">Job description:</h2>
		<ul>
			<li>Should have working knowledge of C# and windows form applications</li>
			<li>Should have ability to design and integrate widgets and interfaces in the windows desktop application</li>
			<li>Should have working knowledge of session based windows desktop application.</li>
			<li>Ability to package and publish desktop applications to windows app store would be a plus</li>
			<li>After 3 months of your work evaluation, you will be eligible for ESOPS</li>
		</ul>
		<p>&nbsp;</p>
		<p>Interested candidates can email their profile/portfolio to <a href="mailto:ajays871@gmail.com?Subject=JobID%20313" target="_top">ajays871@gmail.com</a> with Job code 313 in subject</p<p></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</section>
</body>